.nav-link:hover {
  color: gray !important;
}
header {
  max-width: 100%;
}
.navbarContainer {
  margin: 0px;
}
.carousel {
  border-top: 5px solid orange;
}
.carruselSize {
  height: 36vw;
}
.cardsContainer {
  border-top: 5px solid orange;
  padding-left: 20vw;
  padding-right: 20vw;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: gray;
}
footer {
  border-top: 5px solid orange;
}
